---
layout: empty
---

/* geo-regular - latin */
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('{{site.baseurl}}/fonts/geo-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/geo-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
    background: #eee;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    background-image: linear-gradient(#0e1319, #1a2027, #252a31);
    padding: 12px 35px;
    z-index: 1;
    font-family: 'Geo', sans-serif;
    font-size: x-large;
}

header ul li {
    display: inline;
    padding: 10px 15px 0 15px;
    color: white;
}

header ul {
    position: sticky;
    right: 5px;
    float: right;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.header_logo {
    height: 100%;
    position: sticky;
    left: 5px;
}

a {
    color: #286090;
}

/* LIST PAGE*/

body .list_page {
    padding: 0px 3%;
    line-height: 1.5;
}

.list_page ul li {
    list-style: none;
    padding: 10px 2%;
    line-height: 1.7;
}

.list_page li:nth-of-type(odd) {
    background: #c6cdd4;
}

.list_page li:nth-of-type(even) {
    background: #e6e6e6;
}

.list_page ul {
    padding-left: 0;
}

.list_page h1 {
    text-align: left;
    color: #222d39;
}

.list_game_title {
    color: black;
    font-weight: bold;
}


/*GAMES*/

body .game_page {
    padding: 0px 3%;
    line-height: 1.5;
}

.game_page h1 {
    color: #2a3744;
    font-size: 2em;
    padding-top: 15px;
}

.game_page h2 {
    padding-top: 15px;
    font-size: 1.5em;
}

.game_page > hr {
    margin-top: 20px;
}

.reference_icon {
    height: 1.1em; 
    vertical-align: text-bottom;
    cursor: help;
}

/* OTHER PAGES */

body .content {
    padding: 0px 3%;
    line-height: 1.5;
}

/* HOME BUTTONS */

a.button_link {
    text-decoration: none;
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    align-items: center;
    background: #606060;
    color:white;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 2px;
    border-bottom: 3px solid #242424;
}

a.button_link:hover {
    background: #707070;
}

.button_icon {
    font-size: x-large;
    margin-left: 15px;
}

/* FOOTER */

body .list_page, body .game_page, body .content {
    padding-bottom: 55px;
}

.wrapper {
   min-height: 100%;
   position: relative;
} 


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
}

.footer_content
{
    padding-left: 20px;
    padding-right: 20px;
}

.footer_logo {
    position: sticky;
    right: 5px; 
    float: right;
    height: 30px;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-left: 5px;
}

.footer_text {
    position: sticky;
    left: 5px; 
}


/*RESPONSIVE MENU*/

#hamburger {
    background-image: url({{site.baseurl}}/images/hamburger.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    width: 50px;
    height: 30px;
    margin-top: 16px;
    position: sticky;
    right: 0px;
    display: none;
    cursor: pointer;
}

header input[type=checkbox]{
    display: none;
}


@media (max-width: 900px) {

    #hamburger {
        display: block;
    }

    header ul {
        opacity: 0;
        height: 0;
        max-height: 0;
        transition: 0.3s all;
        float: none;
        padding: 10px 0px;
        background: #8794a2;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
    }

    header ul li {
        display: block;
        padding: 10px 60px;
        color: white;
        text-align: right;
    }

    header ul li a {
        position: sticky;
        right: 20px;
    }

    header input[type=checkbox]:checked ~ ul {
        display: block;
        height: 140px;
        max-height: 140px;
        opacity: 1;
        transition: 0.3s all;
        z-index: 1;
    }
}




/* Cite this page snippet */

.cite-content {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-height .5s ease-in-out, opacity .5s ease-in-out;
}

.cite-checkbox:checked ~ .cite-content {
  max-height: 300px;
  opacity: 1;
}

.cite-checkbox:checked ~ .cite-label > .cite-collapsed-arrow {
    display: none;
}

.cite-expanded-arrow {
    display: none;
}

.cite-checkbox:checked ~ .cite-label > .cite-expanded-arrow {
    display: initial;
}

.cite-label {
    display: block;
    font-size:larger;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.citation {
    white-space: pre-wrap;
    background-color: #e6e6e6;
    border: 1px solid #888888;
    padding: 1em;
    font-family: monospace, monospace;
    line-height: 1.3;
}

