---
title: Peg Solitaire is NP-Hard
short_description: Playable implementation of the reduction from Hamiltonian cycle in a directed planar bigraph, showing that deciding on the solvability of a generalized Peg Solitaire level is NP-hard.
custom_css: game_style.css
---
<h1>Peg Solitaire is NP-Hard</h1>

<h2>What is this?</h2>

<p>This page deals with a generalized version of <a href="{{site.baseurl}}/i/peg-solitaire">Peg Solitaire</a> (also known as Hi-Q) where the board is allowed to a square of arbitrary size.</p>

<p>The problem of deciding whether an instance of generalized Peg Solitaire is winnable has been proven to be NP-complete in <a href="https://www.jaist.ac.jp/~uehara/ps/phd7.ps.gz">Ryuhei Uehara and Shigeki Iwata: Generalized Hi-Q is NP-complete (1990)</a>, via a polynomial-time reduction from the Hamiltonian Cycle problem in a planar graph where indegrees and outdegrees are upper-bounded by two.</p>

<p>This page hosts a playable implementation of this reduction for the following graph:</p>

<img src="graph.png" height="200px">

<p>To make a move, just click on a peg in the playing board, then click on a valid destination.</p>

<div class="board-wrapper">
<table>
    <tr><th>Playing board</th></tr>
    <tr>
        <td id="playboard-container" class="board-container">
            <canvas id="playboard" class="board"></canvas>
        </td>
    </tr>
</table>
</div>

<div class="board-wrapper">
<table>
    <tr><th>Winning state</th></tr>
    <tr>
        <td id="targetboard-container" class="board-container">
            <canvas id="targetboard" class="board"></canvas>
        </td>
    </tr>
</table>
</div>

<div class="board-wrapper">
<table>
    <tr><th>Solution (click <button id="auto-step-button">Here</button> to see the next step)</th></tr>
    <tr>
      <td id="solutionboard-container" class="board-container">
            <canvas id="solutionboard" class="board"></canvas>
      </td>
    </tr>
</table>
</div>

<script type="text/javascript" src="./hiq_game.js"></script>
