---
title: Hosting
layout: list
---

Here is a list of the games for which we host supplementary material.<br/>
You are welcome to add your own contribution related to the complexity of games (implementations of hardness reductions, animations, simulations, cool visualizations of proofs, etc...) to this list. Please see <a href="https://gitlab.com/steven3k/complexity-of-games">this page</a> for instructions.<br/>


<ul>
{% for game in site.games_hosting %}
    {% if game.short_description %}
        <li>
	    <a href="{{ game.url | replace: 'index.html', ''  | relative_url }}" class="list_game_title">{{ game.title }}</a>
	    <br/>
	    {{ game.short_description }}
        </li>
    {% endif %}
{% endfor %}
</ul>


