---
title: Compendium
layout: list
---

Here is the list of games and puzzles that are currently in our index.<br/>

Is your favorite game missing?
Are you aware of a new complexity result for one of the listed games?
You are welcome add or edit the listed games by following the instructions on <a href="https://gitlab.com/steven3k/complexity-of-games">this page</a>.<br/>

<ul>
{% for game in site.games_index %}
    {% if game.short_description %}
        <li>
	    <a href="{{ game.url | replace: 'index.html', ''  | relative_url }}" class="list_game_title">{{ game.title }}</a>
	    <br/>
	    {{ game.short_description }}
        </li>
    {% endif %}
{% endfor %}
</ul>

{% include cite_this_page.html tag="index" title="Complexity of Games Compendium"%}
